html {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.15;
    color: #000;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px;
}

.form span {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.form span label {
    margin: 3px;
}

.item > label {
    width: 180px;
}

.form input {
    position: relative;
    height: 20px;
    padding: 3px;
}

.form textarea {
    flex-grow: 1;
    width: 350px;
    height: 60px;
    resize: none;
}

.form select {
    font: inherit;
    width: 210px;
    height: 30px;
    padding: 5px;
}

.form button {
    font: inherit;
    padding: 5px;
}

span.text-error {
    color: red;
    font-weight: 300;
    display: inline-block;
    position: absolute;
    left: 100%;
    width: 300px;
}
